.user{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    
     margin: 20px;
}

.logoutBtn{
  padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    cursor: pointer;
    background-color: orangered;
    color:white;
    border-radius: 2px;
    border: none;
    transition: all 0.5s;
}
.header{
  text-align: center;
  justify-content: center;
  font-weight: 600;
  padding-left: 80px;
  padding-top: 20px;
}